#menu {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    transition-delay: 1s;
}

#menu:hover {
    opacity: 1;
    transition-delay: 0s;
}

#page {
    max-width: 100%;
    max-height: 100%;
}

#noscript {
    position: fixed;
    width: 100%;
    bottom: 0px;
    text-align: center;
}

#menu-center a {
    display: none;
}
