body {
    padding: 0;
    margin: 0;
    /* Background color is controlled by the ACBF on a per comic and or page basis */
}

/* Layout */

#navcontainer, #pagecontainer {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

#pagecontainer {
    z-index: 0;
}

#navcontainer {
    z-index: 1;
}

#menuzone {
    opacity: 1;
    width: 100vw;
    height: 64px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

#page {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
}


/* Main menu */

#menu {
    width: 100%;
    height: 64px;
    position: absolute;
    display: block;
    /* Set the color and opacity of the menu strip */
    background: rgba(100, 100, 100, 0.7);
}

#menu img {
    /* Change the color of the menu buttons (in a somewhat hacky way */
    /* filter: brightness(1) sepia(1) saturate(17) hue-rotate(0deg); */
}

.button {
    text-decoration: none;
}

#menu-left {
    float: left;
    width: 33%;
}

#menu-center {
    display: inline-block;
    margin: 0 auto;
    width: 34%;
    text-align: center;
}
#menu-center a {
    margin-left: auto;
    margin-right: auto;
}

#menu-right {
    float: right;
    width: 33%;
}
#menu-right a {
    float: right;
}

/* Help */
@font-face {
    font-family: "KomikaSlick";
    src: url("fonts/komika_slick.ttf") format("truetype");
}

#bubble-container {
    position: absolute;
    width: 600px;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.9;
    z-index: 2;
}

.bubble {
    z-index: 2;
    font-family: "KomikaSlick", Arial, sans-serif;
    position: absolute;
    width: 600px;
    background: white;
    border-radius: .4em;
    padding: 20px;
}

.bubble:after {
    content: '';
    position: absolute;
    top: 0;
    left: 63%;
    width: 0;
    height: 0;
    border: 33px solid transparent;
    border-bottom-color: white;
    border-top: 0;
    border-left: 0;
    margin-left: -16.5px;
    margin-top: -33px;
}
#help:after {
    left: 61%;
}
#about:after {
    left: 39%;
}

#help {
    display: none;
}
#about {
    display: none;
}

/* Page Navigation */
.navbtn {
    height: 100%;
    width: 35%;
    float: left;
    opacity: 0.2;
    border: 0;
}    

#prevbtn {
    background: green;
}

#menubtn {
    width: 30%;
}

#nextbtn {
    background: red;
}

/* Thumbnails */
.thumblink {
    text-decoration: none;
}

#active-thumb {
    border: 1px dotted red;
}
