body {
    margin: 0;
    background: white;
}

/* Layout */

nav, #container, #pagecontainer {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

#pagecontainer {
    z-index: 0;
}

/* Main menu */

#menu {
    width: 100%;
    height: 64px;
    position: absolute;
    display: block;
    background: rgba(150, 150, 150, 0.75);
}

.menu-button {
    border: none;
    outline: none;
    background: none;
}

#menu-left {
    float: left;
    width: 33%;
}

#menu-center {
    display: inline-block;
    margin: 0 auto;
    width: 34%;
}
#menu-center button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    opacity: 1;
}

#menu-right {
    float: right;
    width: 33%;
}
#menu-right img {
    float: right;
}

/* Page Navigation */

nav {
    z-index: 1;
}

.navbtn {
    height: 100%;
    width: 40%;
    float: left;
    opacity: 0.2;
    border: 0;
}    

#prevbtn {
    background-color: green;
}

#menubtn {
    background-color: yellow;
    width: 20%;
}

#nextbtn {
    background-color: blue;
}

