#menu {
    transform: translateY(-64px);
    transition: transform 0.3s ease-in-out;
    transition-delay: 0s;
}

#menuzone:hover #menu {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0s;
}

#page {
    max-width: 100%;
    max-height: 100%;
}

#noscript {
    position: fixed;
    width: 100%;
    bottom: 0px;
    text-align: center;
}

#menu-center a {
    display: none;
}
